<div class="loading" ng-if="vm.loading">
  <h1> LOADING . . . </h1>
</div>

<div ng-if="!vm.loading">
  <button ng-if="!vm.displayChart" ng-click="vm.showChart()">Show Chart</button>

  <highchart ng-show="vm.displayChart" id="chart1" config="vm.chartConfig" class="span7" style="min-width: 70%; float:left;"></highchart>

  <div>
    <button ng-if="vm.displayChart" ng-click="vm.hideChart()" style="display:block;">Hide Chart</button>
    <button ng-if="vm.displayChart && !vm.displayColorChart" ng-click="vm.colorChart()" style="display:block;">Switch to By Color</button>
    <button ng-if="vm.displayChart && vm.displayColorChart" ng-click="vm.userChart()" style="display:block;">Switch to By Total</button>
  </div>

<div class="stats-container" style="clear:both">
  <h2 style="text-align: center;" ng-click="vm.showStats = !vm.showStats">Stats</h2>
  <div ng-show="vm.showStats" class="row" style="clear:both;">
    <div class="col-md-4">
      <p>Total Users: {{vm.stats.totalUsers}}</p>
      <p>Total Colors: {{vm.stats.totalColors}}</p>
      <p>Percent of Females: {{vm.stats.femalePercent | percentage}}</p>
      <p>Percent of Males: {{vm.stats.malePercent | percentage}}</p>
    </div>
    <div class="col-md-4">
      <p>Total users who performed a "signed_up": {{vm.stats.signedUpCount}}</p>
      <p>Total users who performed a "viewed_profile": {{vm.stats.viewedProfileCount}}</p>
      <p>Total users who performed a "view_item": {{vm.stats.viewedItemCount}}</p>
      <p>Total users who performed a "purchased_item": {{vm.stats.purchasedItemCount}}</p>
    </div>
    <div class="col-md-4">
      <p>Conversion from Signup -> Purchase: {{vm.stats.conversionOne | percentage}}</p>
      <p>Conversion from Signup -> View Profile -> Purchase: {{vm.stats.conversionTwo | percentage}}</p>
      <p>Conversion from Signup -> Viewed Item -> Purchase: {{vm.stats.conversionThree | percentage}}</p>
    </div>
  </div>

</div>

  <div class="row">
    <div class="col-md-8">
      <input type="text" class="form-control" placeholder="filter by first name" ng-model="searchName" style="width: 150px;">
    </div>
    <div class="col-md-4">
      <button ng-click="vm.addRow()" style="float:right; margin-right:10px;">ADD ROW</button>
    </div>
  </div>

  <div ng-if="vm.myTable" class="table-responsive"
   style="overflow-y: scroll; height:500px;">
    <table class="table table-bordered table-striped table-responsive">
      <thead>
        <tr>
          <td ng-repeat="title in vm.myTable.titles">
            <a>{{title}}</a>
          </td>
        </tr>
      <thead>
      <tbody>
        <tr ng-repeat="it in vm.myTable.objArr.slice().reverse() | filter:searchName">
          <td>{{it.first_name}}</td>
          <td>{{it.last_name}}</td>
          <td>{{it.gender}}</td>
          <td>{{it.company_name}}</td>
          <td>{{it.job_title}}</td>
          <td>{{it.email}}</td>
          <td>{{it.id}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
